# macOS
.DS_Store

# Xcode
DerivedData/
*.xcuserstate
*.xccheckout

# User-specific Xcode data
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Debugger / breakpoints
*.xcbkptlist
xcdebugger/
